name: Client build
on:
  push:
    branches:
      - master
  pull_request:
    branches: master
    paths:
      - '.github/workflows/**'
      - 'pubspec.yaml'
      - 'pubspec.lock'
      - 'lib/**'
      - 'ios/**'
      - 'android/**'
jobs:
  # * Test IOS buidls when ios version is released
  # buildios:
  #   name: Build iOS
  #   runs-on: macos-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-java@v1
  #       with:
  #         java-version: '12.x'
  #     - run: git clone https://github.com/flutter/flutter.git --depth 1 -b beta _flutter
  #     - run: echo "::add-path::$GITHUB_WORKSPACE/_flutter/bin"
  #     - run: flutter pub get
  #       working-directory: ./
  #     - run: flutter build ios --no-codesign
  buildandroid:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      
      # Setup Java environment for building android app
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
      
      # Flutter commands
      - name: Flutter doctor
        run: flutter doctor

      - name: Pub get
        run: flutter pub get
      
      # Building fat apk
      - name: Build fat apk
        run: flutter build apk
      
      # Upload generated apk to the artifacts.
      - uses: actions/upload-artifact@v2.2.1
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk
